<form action="/login" method="POST" id="log-in-form">
  <div id='login-email-form'>
    <label for="username">Email :</label>
    <input type="text" name="username">
  </div>
  
  <div id='login-password-form'>
    <label for="password" >Mot de passe :</label>
    <input type="password" name="password">
  </div>
  
  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}
  
  <div id="login-button-login-parent">
    <button id="login-button-login">Log in</button>
  </div>
</form>
<p id="p-login-google"><a href="/auth/google"><img src="../images/btn_google_signin_dark_pressed_web@2x.png" alt="Sign in with google" id="login-google"> </a></p>
<p id="p-login-facebook"><a href="/auth/facebook"><img src="../images/login-with-facebook.png" alt="Login with facebook" id="login-facebook"></a></p>
<p id="p-no-account">Pas de compte? Créer un compte <a href="/signup">ici</a></p>


<div id="login-final-image"></div>



