<div id="signup-all">

  <div id="signup-signup-email-parent">
    <div id="signup-signup-email">
      S'INSCRIRE AVEC UN EMAIL
    </div>
  </div>

  <form action="/signup" method="POST">
    <div >
      <label id="signup-name">Prénom:
          <input type="text" name="firstname">
      </label>
    </div id="signup-signup-email">


    <div>
      <label id="signup-lastName">NOM:
          <input type="text" name="lastname">
      </label>
    </div>

  <div>
    <label id="user-username">Nom d'utilisateur
        <input type="text" name="username">
    </label>
  </div>


    <div>
      <label id="signup-password">Mot de passe:
          <input type="password" name="password">
      </label>
    </div>

    {{!-- <div>
      <label>Adresse:
          <input type="text" name="street">
          <input type="text" name="zipcode">
          <input type="text" name="city">
          <input type="text" name="country">
      </label>
    </div> --}}
    
    <div>
      <label for="phoneNumber" id="signup-phoneNumber">Téléphone:
          <input type="text" name="phonenumber">
      </label>
    </div>

    <div id="signup-button-subscribe-parent">
      <button id="signup-button-subscribe">S'inscrire</button>
    </div>
  </form>

  </div>

  {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <div id="signup-final-image"></div>
