<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <nav> 
      <div id="navigation-container">
        <a href="/login"><img src="/images/login.png" alt=""></a>
      <div id="logo">
        <a href="/"><img src="/images/logo.png" alt=""></a>
      </div>
        <a href="/search"><img src="/images/glass.png" alt=""></a>
        
        <a href="/review"><img src="/images/hanger.png" alt=""></a>
        
          <a href="/logout">Se deconnecter</a>
      </div>
      </nav>
  {{{body}}}
  <script src="/javascripts/script.js"></script>
</body>
</html>