<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 80%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {
        const myLatLng = {lat: 48.8566, lng: 2.3522};
        const zara = {lat: 48.8531, lng: 2.3328};
        const ironhack = {lat: 48.852661, lng: 2.388536};
        const image = '../images/tabbatalogo.png'

        const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });
    
        const zaraContentString = 'it works!'
        const ironhackContentString = 'it works!'

        const zaraInfowindow = new google.maps.InfoWindow({
          content: zaraContentString
        });

        const ironhackInfowindow = new google.maps.InfoWindow({
          content: ironhackContentString
        });

        var ironhackMarker = new google.maps.Marker({
          position: ironhack,
          map: map,
          icon: image,
          title: 'Hello World!'
        });
        var zaraMarker = new google.maps.Marker({
          position: zara,
          map: map,
          icon: image,
          title: 'Hello World!'
        });
        zaraMarker.addListener('click', function() {
          zaraInfowindow.open(map, zaraMarker);
        });
        ironhackMarker.addListener('click', function() {
          ironhackInfowindow.open(map, ironhackMarker);
        });
      }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAimaPGm6mKYl3JA8eIcxtV1a1_gKBQNtE
&callback=initMap">
    </script>
  </body>
</html>