<h3>Details de vos commande</h3>

{{#each orders}}
<p>{{id}}</p>
<form action="/{{id}}/delete" method="POST">
  <button type="submit">Supprimer</button>
</form>
{{/each}}

<form action="/book/orders" method="POST">
  <label>Date : 
    <input type="date" name="date">
  </label>
  <label>Heure : 
    <input type="time" name="time">
  </label>
  <button type="submit"><h3>Reserver ma cabine</h3></button>
</form>

<a href="/"><h3>Choisir un autre produit</h3></a>
