<h3>Details de vos commande</h3>
{{#each}}
<p>{{orders}}</p>
<form action="/{{orders}}/delete" method="POST">
  <button type="submit">Supprimer</button>
</form>
{{/each}}

<form action="">
  <label>Date : 
    <input type="date">
  </label>
  <label>Heure : 
    <input type="time">
  </label>
</form>

<a href="/"><h3>Choisir un autre produit</h3></a>

<a href="/book/{{orders}}"><h3>Reserver ma cabine</h3></a>