*, :before, :after {box-sizing:border-box;}
img {max-width:100%;}

a {text-decoration:inherit; color:inherit;}

@media (min-width:900px) {
  :root {
    --pad:4em;
  }
}

body {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #faf9f9; 
}

a {
  color: #00B7FF; }

#navigation-container {
  display : flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

#logo a img {
  width : 137px;
  margin-left: 10px;
}

#navigation-container img {
  width : 27px;
}

#list-of-items img {
  width: 100%;
  margin-bottom: 15px;
}


.catch-phrase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
  color: #E1C28F;
  font-size: 11px;
  position: absolute;
  width: 100%;
}

#search-bar {
  text-align: center;
  position: relative;
  margin-top: 154px;
  margin-bottom: 10px;
}

#search-bar input {
  width: 325px;
  height: 50px;
  background-image: url('../images/glass.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: 9px;
  background-position-y: 5px;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding-left: 44px;
}

#search-bar input::placeholder {
  color: #E1C28F;
}


#log-in-form {
  text-align: center;
}

#password-form {
  font-size : 20px;
}


/*
###    ##     ## ######## ##     ##         ##        #######   ######   #### ##    ## 
## ##   ##     ##    ##    ##     ##         ##       ##     ## ##    ##   ##  ###   ## 
##   ##  ##     ##    ##    ##     ##         ##       ##     ## ##         ##  ####  ## 
##     ## ##     ##    ##    ######### ####### ##       ##     ## ##   ####  ##  ## ## ## 
######### ##     ##    ##    ##     ##         ##       ##     ## ##    ##   ##  ##  #### 
##     ## ##     ##    ##    ##     ##         ##       ##     ## ##    ##   ##  ##   ### 
##     ##  #######     ##    ##     ##         ########  #######   ######   #### ##    ##  */


#login-email-form {
  color: #2D525E;
  margin-top: 50px;
  margin-bottom: 10px;
}

#login-password-form {
  color: #2D525E;
  margin-left: 54px;
}

#login-button-login-parent {
  text-align: center;
}

#login-button-login {
  color: white;
  width: 100px;
  background-color: #2D525E;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 9px;
}


#p-login-google {
  text-align: center;
}

#login-google {
  width : 120px;
}
#p-login-facebook {
  text-align: center;
}

#login-facebook {
  width : 128px;
}

#p-no-account {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #2D525E;
  font-weight: bold;
}


#login-final-image {
  width: 100%;
  height: 24.5em;
  background-image: url(../images/blouse-login.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  margin-top: 1px;
}

#logout {
  margin-left: 10px;
}


/* 
###    ##     ## ######## ##     ##                ######  ####  ######   ##    ##    ##     ## ########  
## ##   ##     ##    ##    ##     ##               ##    ##  ##  ##    ##  ###   ##    ##     ## ##     ## 
##   ##  ##     ##    ##    ##     ##               ##        ##  ##        ####  ##    ##     ## ##     ## 
##     ## ##     ##    ##    #########    #######     ######   ##  ##   #### ## ## ##    ##     ## ########  
######### ##     ##    ##    ##     ##                     ##  ##  ##    ##  ##  ####    ##     ## ##        
##     ## ##     ##    ##    ##     ##               ##    ##  ##  ##    ##  ##   ###    ##     ## ##        
##     ##  #######     ##    ##     ##                ######  ####  ######   ##    ##     #######  ##   */

#signup-all {
  border: solid;
  /* border-radius: 20px; */
  border-color: #2D525E;
  padding-top: 10px;
  margin-top: 10px;
}

#signup-signup-email-parent {
  text-align: center;
}

#signup-signup-email {
  color: #2D525E;
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 50px;
  margin-top: 30px;
}

#signup-name {
  margin-left: 68px;
  margin-top: 10px;
  color: #2D525E;
}

#signup-lastName {
  margin-left: 68px;
  color: #2D525E;
}

#user-username {
  margin-left: 68px;
  color: #2D525E;
}

#signup-password {
  margin-left: 68px;
  color: #2D525E;
}

#signup-phoneNumber {
  margin-left: 68px;
  color: #2D525E;
}


#signup-button-subscribe-parent {
  text-align: center;
  margin-bottom: 48px;
}

#signup-button-subscribe {
  color: white;
  width: 100px;
  background-color: #2D525E;
  border-radius: 10px;
  margin-top: 30px;
  padding: 9px;
}

#signup-final-image {
  width: 100%;
  height: 23.5em;
  background-image: url(../images/blouse-login.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  margin-top: 1px;
}

#logout {
  width: 25px;
}

/* 
########  ########     ###    ##    ## ########                #### ##    ## ########  ######## ##     ## 
##     ## ##     ##   ## ##   ###   ## ##     ##                ##  ###   ## ##     ## ##        ##   ##  
##     ## ##     ##  ##   ##  ####  ## ##     ##                ##  ####  ## ##     ## ##         ## ##   
########  ########  ##     ## ## ## ## ##     ##    #######     ##  ## ## ## ##     ## ######      ###    
##     ## ##   ##   ######### ##  #### ##     ##                ##  ##  #### ##     ## ##         ## ##   
##     ## ##    ##  ##     ## ##   ### ##     ##                ##  ##   ### ##     ## ##        ##   ##  
########  ##     ## ##     ## ##    ## ########                #### ##    ## ########  ######## ##     ## 
 */

 #brand-index-all {
  display: flex;
  border:solid;
  border-color: #2D525E;
  border-radius: 10px;
  margin-bottom: 7px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
 
}

#brand-index-a {
  margin-bottom: -3px;
  margin-right: -52px;
}

#brand-index-image {
  border-radius: 7px;
  width: 80%
}

#brand-index-description {
  background-color: white ;
  border-radius: 10px;
}

#brand-index-name {
  font-size: 18px;
  color: #2D525E;
  width:120px;
  margin-bottom: 3px;
  margin-top: 7px;
  text-align: center;
}


#brand-index-price {
  margin: 0px;
  color: #2D525E;
  width:120px;
  margin-bottom: 0px;
  padding-left: 4px
  
}

#brand-index-sex {  
  margin: 0px;
  color: #2D525E;
  margin-bottom: 0px;
  padding-left: 4px;
}

/* 
########  ########     ###    ##    ## ########           ##    ########  ########   #######  ########  ##     ##  ######  ########         ########  ######## ########    ###    #### ##        ######  
##     ## ##     ##   ## ##   ###   ## ##     ##         ##     ##     ## ##     ## ##     ## ##     ## ##     ## ##    ##    ##            ##     ## ##          ##      ## ##    ##  ##       ##    ## 
##     ## ##     ##  ##   ##  ####  ## ##     ##        ##      ##     ## ##     ## ##     ## ##     ## ##     ## ##          ##            ##     ## ##          ##     ##   ##   ##  ##       ##       
########  ########  ##     ## ## ## ## ##     ##       ##       ########  ########  ##     ## ##     ## ##     ## ##          ##    ####### ##     ## ######      ##    ##     ##  ##  ##        ######  
##     ## ##   ##   ######### ##  #### ##     ##      ##        ##        ##   ##   ##     ## ##     ## ##     ## ##          ##            ##     ## ##          ##    #########  ##  ##             ## 
##     ## ##    ##  ##     ## ##   ### ##     ##     ##         ##        ##    ##  ##     ## ##     ## ##     ## ##    ##    ##            ##     ## ##          ##    ##     ##  ##  ##       ##    ## 
########  ##     ## ##     ## ##    ## ########     ##          ##        ##     ##  #######  ########   #######   ######     ##            ########  ########    ##    ##     ## #### ########  ######   */

#product-details-reference {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
  font-size: 9px;
  margin-bottom:4px;
}


#product-details-name {
  color: #2D525E;
  font-weight: bolder;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 3px;
  font-size: 20px;
}

#product-details-size {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
}

#product-details-details {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
  font-weight: bold;
}

#product-details-sex {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
}

#product-details-description {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
}

#product-details-color {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
}

#product-details-washing {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
}

#product-details-price {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
  font-weight: bold;
  font-size:16px;
}

/* #product-details-footer-try {
  position: center;
} */

#product-details-try-it {
  color: white;
  width: 307px;
  background-color: #2D525E;
  border-radius: 10px;
  margin-left: 34px;
  margin-right:18px;
  padding: 12px;
  text-align: center;
}

#product-details-footer {
  height:37px;
}
/* 
#######  ########  ########  ######## ########                 ######  ##     ##  #######   #######   ######  ########          ######  ########  #######  ########  ######## 
##     ## ##     ## ##     ## ##       ##     ##               ##    ## ##     ## ##     ## ##     ## ##    ## ##               ##    ##    ##    ##     ## ##     ## ##       
##     ## ##     ## ##     ## ##       ##     ##               ##       ##     ## ##     ## ##     ## ##       ##               ##          ##    ##     ## ##     ## ##       
##     ## ########  ##     ## ######   ########     #######    ##       ######### ##     ## ##     ##  ######  ######   #######  ######     ##    ##     ## ########  ######   
##     ## ##   ##   ##     ## ##       ##   ##                 ##       ##     ## ##     ## ##     ##       ## ##                     ##    ##    ##     ## ##   ##   ##       
##     ## ##    ##  ##     ## ##       ##    ##                ##    ## ##     ## ##     ## ##     ## ##    ## ##               ##    ##    ##    ##     ## ##    ##  ##       
 #######  ##     ## ########  ######## ##     ##                ######  ##     ##  #######   #######   ######  ########          ######     ##     #######  ##     ## ######## 
  */

#order-choose-store-name {
  margin-left: 18px;
  margin-right:18px;
  margin-bottom: 30px;
  margin-top: 40px;
  color: #2D525E;
  font-weight: bold;
  font-size:20px;

  
}

#order-choose-store-shop {
  margin-left: 18px;
  margin-right:18px;
  margin-bottom: 20px;
  color: #2D525E;
  font-weight: bold;
  font-size:16px;
}

#order-choose-store-button-store {
  margin-left: 18px;
  margin-right:18px;
  color: white;
  /* font-weight: bold; */
  font-size:16px;
  padding: 4px;
  border: 0px;
  border: solid;
  border-color: #2D525E;
  background-color: #2D525E;
  border-radius: 3px
}

#order-choose-store-store-address {
  margin-left: 18px;
  margin-top: 4px;
}


/* 
#######  ########  ########  ######## ########          ########  ######## ##     ## #### ######## ##      ## 
##     ## ##     ## ##     ## ##       ##     ##         ##     ## ##       ##     ##  ##  ##       ##  ##  ## 
##     ## ##     ## ##     ## ##       ##     ##         ##     ## ##       ##     ##  ##  ##       ##  ##  ## 
##     ## ########  ##     ## ######   ########  ####### ########  ######   ##     ##  ##  ######   ##  ##  ## 
##     ## ##   ##   ##     ## ##       ##   ##           ##   ##   ##        ##   ##   ##  ##       ##  ##  ## 
##     ## ##    ##  ##     ## ##       ##    ##          ##    ##  ##         ## ##    ##  ##       ##  ##  ## 
#######  ##     ## ########  ######## ##     ##         ##     ## ########    ###    #### ########  ###  ###    */


#order-review-details {
  margin-left: 25px;
  margin-top: 18px;
  margin-bottom: 30px;
  color: #2D525E;
  font-size:20px;
}

#order-review-form {
  display: flex;
}

#order-review-id {
  margin-left: 25px;
  margin-top: 18px;
}

#order-review-button-supp {
  margin-top: 17px;
  /* margin-left: 48px; */
  transform: translateX(60%);
  border: solid;
  border-color: #2D525E;
  background-color: #2D525E;
  color: white;
  border-radius: 5px;
}

#order-review-make-choice {
  margin-left: 25px;
  margin-top: 20px;
  margin-right: 25px;
  color:black;
}

#order-review-date {
  margin-left: 25px;
  font-size: 13px;
}

#order-review-date-choice {
  margin-left: 5px;
  margin-top: 20px;
  font-size: 13px;
}

#order-review-hours {
  font-size: 13px;
}

#order-review-hours-choice {
  margin-left: 5px;
  margin-top: 20px;
  font-size: 13px;
}

#order-review-reserve-choose {
  display: flex;
  margin-top: 40px;
}

#order-review-reserve {
  border: solid;
  padding: 5px;
  border-color: #2D525E;
  background-color: #2D525E;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 25px;
  margin-right:29px;
  font-weight: bold;
}

#order-review-choose {
  border: solid;
  padding: 5px;
  border-color: #2D525E;
  background-color: white;
  color: #2D525E;
  border-radius: 5px;
  font-size: 12px;
  width: 160px;
  margin-right: 25px;
  font-weight: bold;
  width: 167px;
}

/* 
#######  ########  ########  ######## ########          ########  ########  ######     ###    ########  
##     ## ##     ## ##     ## ##       ##     ##         ##     ## ##       ##    ##   ## ##   ##     ## 
##     ## ##     ## ##     ## ##       ##     ##         ##     ## ##       ##        ##   ##  ##     ## 
##     ## ########  ##     ## ######   ########  ####### ########  ######   ##       ##     ## ########  
##     ## ##   ##   ##     ## ##       ##   ##           ##   ##   ##       ##       ######### ##        
##     ## ##    ##  ##     ## ##       ##    ##          ##    ##  ##       ##    ## ##     ## ##        
 #######  ##     ## ########  ######## ##     ##         ##     ## ########  ######  ##     ## ##         */

#order-recap-title {
  margin-left: 25px;
  margin-top: 18px;
  margin-bottom: 30px;
  color: #2D525E;
  font-size:20px;
}

#order-recap-store {
  margin-left: 25px
}

#order-recap-time {
  margin-left: 25px;
  margin-bottom: 20px;
}

#order-recap-date {
  margin-left: 25px;
}

#order-recap-home-and-reservation {
  display: flex;
  margin-top: 50px;
}

#order-recap-home {
  border: solid;
  padding: 5px;
  border-color: #2D525E;
  background-color: #2D525E;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 25px;
  margin-right:29px;
  margin-top: 20px;
  font-weight: bold;
  width: 130px;
  text-decoration: none;
}

#order-recap-my-reservation {
  border: solid;
  padding: 5px;
  border-color: #2D525E;
  background-color: white;
  color: #2D525E;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 25px;
  margin-right:29px;
  margin-top: 20px;
  font-weight: bold;
  width: 155px;
  text-decoration: none;
}

/*
########  ########  ######  ########   #######  ##    ##  ######  #### ##     ## ######## 
##     ## ##       ##    ## ##     ## ##     ## ###   ## ##    ##  ##  ##     ## ##       
##     ## ##       ##       ##     ## ##     ## ####  ## ##        ##  ##     ## ##       
########  ######    ######  ########  ##     ## ## ## ##  ######   ##  ##     ## ######   
##   ##   ##             ## ##        ##     ## ##  ####       ##  ##   ##   ##  ##       
##    ##  ##       ##    ## ##        ##     ## ##   ### ##    ##  ##    ## ##   ##       
##     ## ########  ######  ##         #######  ##    ##  ######  ####    ###    ########
*/


@media (min-width:900px) {
  .catch-phrase {
    height: 350px;
    font-size: 14px;
  }

  #logo {
    margin-left: 200px;
  }

  #search-bar {
    margin-top: 330px;
  }

  #logout img {
    width: 20px;
  }

  list-of-items-parents {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #list-of-items img {
    margin-bottom: 15px;
    width: 300px;
    height: 250px;
    /* margin-left: 50px; */
  }

  #signup-final-image {
    height: 350px;
  }
  #login-final-image {
    height: 350px;
  }
}




/*# sourceMappingURL=style.css.map */