*, :before, :after {box-sizing:border-box;}
img {max-width:100%;}

a {text-decoration:inherit; color:inherit;}

@media (min-width:900px) {
  :root {
    --pad:4em;
  }
}

body {
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fcfbfb; 
}

a {
  color: #00B7FF; }

#navigation-container {
  display : flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

#logo a img {
  width : 137px;
  margin-left: 55px;
}

#navigation-container img {
  width : 27px;
}

#list-of-items img {
  width: 100%;
}

.catch-phrase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
  color: #E1C28F;
  font-size: 11px;
  position: absolute;
  width: 100%;
}

#search-bar {
  text-align: center;
  position: relative;
  margin-top: 154px;
  margin-bottom: 10px;
}

#search-bar input {
  width: 303px;
  height: 40px;
  background-image: url('../images/glass.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: 9px;
  background-position-y: 5px;
  border: none;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#search-bar input::placeholder {
  text-indent: 45px;
  color: #E1C28F;
}


#log-in-form {
  text-align: center;
}

#password-form {
  font-size : 20px;
}

#id-form {
  font-size : 20px;
}

#button-login {
  font-size: 20px;
}

/*
###    ##     ## ######## ##     ##         ##        #######   ######   #### ##    ## 
## ##   ##     ##    ##    ##     ##         ##       ##     ## ##    ##   ##  ###   ## 
##   ##  ##     ##    ##    ##     ##         ##       ##     ## ##         ##  ####  ## 
##     ## ##     ##    ##    ######### ####### ##       ##     ## ##   ####  ##  ## ## ## 
######### ##     ##    ##    ##     ##         ##       ##     ## ##    ##   ##  ##  #### 
##     ## ##     ##    ##    ##     ##         ##       ##     ## ##    ##   ##  ##   ### 
##     ##  #######     ##    ##     ##         ########  #######   ######   #### ##    ##  */















/* 
########  ########     ###    ##    ## ########                #### ##    ## ########  ######## ##     ## 
##     ## ##     ##   ## ##   ###   ## ##     ##                ##  ###   ## ##     ## ##        ##   ##  
##     ## ##     ##  ##   ##  ####  ## ##     ##                ##  ####  ## ##     ## ##         ## ##   
########  ########  ##     ## ## ## ## ##     ##    #######     ##  ## ## ## ##     ## ######      ###    
##     ## ##   ##   ######### ##  #### ##     ##                ##  ##  #### ##     ## ##         ## ##   
##     ## ##    ##  ##     ## ##   ### ##     ##                ##  ##   ### ##     ## ##        ##   ##  
########  ##     ## ##     ## ##    ## ########                #### ##    ## ########  ######## ##     ## 
 */

 #brand-index-all {
  display: flex;
  border:solid;
  border-color: #2D525E;
  border-radius: 10px;
  margin-bottom: 7px;
}

#brand-index-a {
  margin-bottom: -3px;
}

#brand-index-image {
  border-radius: 7px;
}

#brand-index-description {
  background-color: white ;
  border-radius: 10px;
}

#brand-index-name {
  font-size: 18px;
  color: #2D525E;
  width:120px;
  margin-bottom: 3px;
  margin-top: 7px;
  text-align: center;
}


#brand-index-price {
  margin: 0px;
  color: #2D525E;
  width:120px;
  margin-bottom: 0px;
  padding-left: 4px
  
}

#brand-index-sex {  
  margin: 0px;
  color: #2D525E;
  margin-bottom: 0px;
  padding-left: 4px;
}

/* 
########  ########     ###    ##    ## ########           ##    ########  ########   #######  ########  ##     ##  ######  ########         ########  ######## ########    ###    #### ##        ######  
##     ## ##     ##   ## ##   ###   ## ##     ##         ##     ##     ## ##     ## ##     ## ##     ## ##     ## ##    ##    ##            ##     ## ##          ##      ## ##    ##  ##       ##    ## 
##     ## ##     ##  ##   ##  ####  ## ##     ##        ##      ##     ## ##     ## ##     ## ##     ## ##     ## ##          ##            ##     ## ##          ##     ##   ##   ##  ##       ##       
########  ########  ##     ## ## ## ## ##     ##       ##       ########  ########  ##     ## ##     ## ##     ## ##          ##    ####### ##     ## ######      ##    ##     ##  ##  ##        ######  
##     ## ##   ##   ######### ##  #### ##     ##      ##        ##        ##   ##   ##     ## ##     ## ##     ## ##          ##            ##     ## ##          ##    #########  ##  ##             ## 
##     ## ##    ##  ##     ## ##   ### ##     ##     ##         ##        ##    ##  ##     ## ##     ## ##     ## ##    ##    ##            ##     ## ##          ##    ##     ##  ##  ##       ##    ## 
########  ##     ## ##     ## ##    ## ########     ##          ##        ##     ##  #######  ########   #######   ######     ##            ########  ########    ##    ##     ## #### ########  ######   */

#product-details-reference {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
  font-size: 9px;
  margin-bottom:4px;
}


#product-details-name {
  color: #2D525E;
  font-weight: bolder;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 3px;
  font-size: 20px;
}

#product-details-size {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
}

#product-details-details {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
  font-weight: bold;
}

#product-details-sex {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
}

#product-details-description {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
}

#product-details-color {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
}

#product-details-washing {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
}

#product-details-price {
  margin-left: 18px;
  margin-right:18px;
  color: #2D525E;
  font-weight: bold;
  font-size:16px;
}

/* #product-details-footer-try {
  position: center;
} */

#product-details-try-it {
  color: white;
  width: 307px;
  background-color: #2D525E;
  border-radius: 10px;
  margin-left: 34px;
  margin-right:18px;
  padding: 12px;
  text-align: center;
}

#product-details-footer {
  height:37px;
}



/*# sourceMappingURL=style.css.map */